@model IEnumerable<MVC5Course.Models.Product>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    var pagedListData = Model as IPagedList;
    if (IsAjax)
    {
        Layout = "";
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.PagedListPager(pagedListData,
    (p) => Url.Action("Index", new { pageNo = p }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing("main"))

<table class="table" id="main">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @if (item.Stock < 1000)
                {
                    @("<strong style=\"color: red;\">")
                }
                @Html.DisplayFor(modelItem => item.Stock)

                @if (item.Stock < 1000)
                {
                    @("</strong>")
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(pagedListData,
    (p) => Url.Action("Index", new { pageNo = p }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing("main"))


@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
