@using Microsoft.Security.Application
@{
    Layout = "";

    var a = "<h1>Hello 哈囉 World</h1>";
}

@Html.Raw(a)

<hr />

@a

<hr />

<a href="/Home/TestCode?html=@(a)">content</a>

<hr />

<a href="/Home/TestCode?html=@Url.Encode(a)">content</a>

<hr />

@{
    var path = "/Home/首頁";
}
<a href="@HttpUtility.UrlPathEncode(path)?html=@Url.Encode(a)">content</a>

<hr />

@{
    var msg = @"新增成功！

Hello";
}

<script>
    alert('@Ajax.JavaScriptStringEncode(msg)');
</script>

<hr />

@{
    var xss = "<h1>Hello <script>alert('XSS');</script></h1>";
}

@Html.Raw(Encoder.HtmlEncode(xss))
@Html.Raw(Sanitizer.GetSafeHtmlFragment(xss))